/*---------- Body ------------------*/
*,
*:before,
*:after{
/*  border: 1px solid red;*/
  box-sizing: border-box;
}

body,
html{
  font-family: 'Open Sans', sans-serif;
  height: auto;
  min-width: 320px
  width:100vw;
  margin: 0;
}

/*---------- Header ----------------*/
header{
  background-color: #3E2A35;
  color: #C2B2B4;
}

button{
  background-color: #5B4447;
  color: #ffffff;
  margin-top: 20px;
  border: none;
  height: 35px;
  font-size: 1em;
}

button:hover{
  background-color: #938284;
}

h1{
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.logo{
  width: 1.2em;
}

.title-search{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding: 10px;
}

#search-bar {
  align-items: center;
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  width: 400px;
}

#search-bar p {
  display: inline;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 10%;
}

#search-input {
  border-radius: 5px 0 0 5px;
  border-style: none;
  height: 100%;
  padding-left: 10px;
  width: 90%;
}

.search-icon {
  color: white;
  line-height: 35px;
}
/*--------Form-----------*/

form{
  display: flex;
  flex-direction: column;  
  padding:30px;
}

input{
  height: 35px;
}

#title-input,
#caption-input{
  font-size: 1.5em;
  margin: 10px 0 20px 0;
}

.input-card{
  margin-bottom: 10px;
}

.input-wrapper{
  margin: auto;
  min-width: 280px;
  max-width: 600px;
}

.bottom-buttons{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  max-width: 600px;
  border-spacing: 10px;
}

#view-favorites,
#add-to-album{
  width: 46%;
}

/*---------- Aritcle ---------------*/
article{
  background-color: #c2b2b4;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  justify-content: 
}

h2{
padding: 50px;
margin: auto;
max-width: 80%;
}

h3{
  background-color: white;
  color: black;
  padding: 2px 0 0 2px;
  margin: 0;
}

.container{
  border: 1px dashed;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.card{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.card-image{
  height: 120px;
  width: 240px;
}

.card:hover{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.7);
}

.caption{
  background-color: white;
  color: black;
  height:80px;
}

.update-card{
  background-color: #5B4447;
  display: flex;
  justify-content: space-between;
  height: 2em;
  padding: 5px;
}
/*#delete-card{
  padding-left: 5px;
}
#heart-card{
  padding-right: 5px;
}*/
/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
